<!DOCTYPE html>
<html>
<head>
  <title>MissedCollisions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= simple_form_for @incident, remote: true do |incident| %>
        <div class="col-md-6" id="incident-report">
          <%= incident.input :date_time %>
          <%= incident.input :phone_email, placeholder: "Phone or Email (optional)" %>
          <%= incident.input :location, placeholder: "Street address or cross streets" %>
          <div id="location">
            <p></p>
            <iframe width="300" height="250" frameborder="0" style="border:0 feature:all|element:labels|visibility:off"

              src="https://www.google.com/maps/embed/v1/search?key=AIzaSyA4JPuZMXXvaQcoRbFbQpsUtGij2cHl1wc&q=main+hastings"
              ></iframe>

          </div>

          <%= incident.input :license, placeholder: "License number (optional)" %>
          <%= incident.input :you, collection: ["YOU", "car", "bike", "pedestrian"], selected: "YOU", disabled: "YOU" %>
          <%= incident.input :them, collection: ["THEM", "car", "bike", "pedestrian", "road hazard"], selected: "THEM", disabled: "THEM" %>
          <%= incident.input :incident_type %>
        </div>
        <div class="col-md-6" id="incident-details">
          <%= incident.input :details, input_html: {rows: 20, cols: 50} %>
          <%= incident.submit %>
        </div>

      <% end %>

    </div>
  </div>
</div>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4JPuZMXXvaQcoRbFbQpsUtGij2cHl1wc&callback=initMap">
    </script>
    <script type="text/javascript">
    var geocoder;
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 49.265, lng: -123.1},
        zoom: 14,
        minZoom: 14,
        maxZoom: 18
      });
      var geocoder = new google.maps.Geocoder();

      // specifying bike marker
      // '<%= asset_path("bike.png") %>';
      var bikeImage = new google.maps.MarkerImage('/assets/bike.png',
                                        new google.maps.Size(32, 35),
                                        new google.maps.Point(0, 0),
                                        new google.maps.Point(32 / 2, 35),
                                        new google.maps.Size(32, 35))


      // sends an alert of latitude and longitude coordinates of click location on map
      // does not register a drag and drop as a click
      // map.addListener('click', function(event) {
      //   alert(event.latLng);
      // });

      // coordinates
      var coordinates = {};
      var counter = 0;
      // adds latitude and longitude coordinates of click location on map
      // to an object of coordinates
      // places marker on map
      map.addListener('click', function(event) {
        coordinates[counter] = {lat: event.latLng.lat(),
                                lng: event.latLng.lng()
                              }
        counter ++
        // console.log(coordinates);
        // console.log(counter);
        var marker = new google.maps.Marker({
          position: coordinates[counter - 1],
          map: map,
          title: "You nearly hit me!",
          icon: bikeImage
        })
      })
    }




        </script>
  <div class="sidebar thin">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>
  </div>
    <%= yield %>
</body>
</html>
