<!DOCTYPE html>
<html>
<head>
  <title>MissedCollisions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- ASYNCHRONOUS LOADING OF GOOGLE MAPS -->
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4JPuZMXXvaQcoRbFbQpsUtGij2cHl1wc&callback=initMap">
  </script>

   <!-- MODAL FOR SUBMITTING A REPORT -->
  <div class="modal fade report-an-incident" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content" id="incident-form" >
        <%= form_for @incident, data: { behavior: "autosave" }, remote: true do |incident| %>
          <div id="incident">
            <div class="col-md-6 form-group" id="incident-report">
              <div class="form-inline">
                <h1>Submit a Report!</h1>
                <%= incident.label :date_time, "Date" %>
                <%= incident.date_field :date_time, class: "form-control" %>
                <%= incident.label :date_time, "Time" %>
                <%= incident.time_field :date_time, class: "form-control" %>
              </div>
              <div class="form-inline">
                <%= incident.label :phone_email %>
                <%= incident.text_field :phone_email,
                                        placeholder: "Phone or Email (optional)",
                                        class: "form-control" %>
              </div>
              <div class="form-inline" id="location">
                  <%= incident.label :location %>
                  <%= incident.text_field :location, placeholder: "Street address or cross streets", class: "form-control" %>
                <button id="pin-on-map">Find on Map</button>
                <p></p>
              </div>
              <div>
                <%= incident.label :license %>
                <%= incident.text_field :license,
                                        placeholder: "License number (optional)",
                                        class: "form-control" %>
              </div>
              <div>
                <%= incident.select :you, Incident::YOU, { prompt: "YOU" } %>
                <%= incident.select :them, Incident::THEM, { prompt: "THEM" } %>
              </div>
              <div>
                <%= incident.label :incident_type %>
                <%= incident.text_field :incident_type,
                                        placeholder: "Eg. ran a red light, aggressive, distracted, ...",
                                        class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div id='map-for-mapping' class="invisible"></div>
              <div id="incident-details">
                <h1>Incident Details</h1>
                <%= incident.label :details %>
                <%= incident.text_area :details, class: "form-control", rows: 15 %>
              </div>
              <div id="submit-button">
                <%= incident.submit %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


    <script type="text/javascript">
    var geocoder;
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 49.265, lng: -123.1},
        zoom: 14,
        minZoom: 14,
        maxZoom: 18
      });
      var geocoder = new google.maps.Geocoder();
      var bikeImage = new google.maps.MarkerImage('/assets/bike.png',
                                        new google.maps.Size(32, 35),
                                        new google.maps.Point(0, 0),
                                        new google.maps.Point(32 / 2, 35),
                                        new google.maps.Size(32, 35))


      // sends an alert of latitude and longitude coordinates of click location on map
      // does not register a drag and drop as a click
      // map.addListener('click', function(event) {
      //   alert(event.latLng);
      // });

      // coordinates
      var coordinates = {};
      // adds latitude and longitude coordinates of click location on map
      // to an object of coordinates
      // places marker on map
      map.addListener('click', function(event) {
        coordinates = { lat: event.latLng.lat(), lng: event.latLng.lng() }

        // console.log(coordinates);
        // console.log(counter);
        var marker = new google.maps.Marker({
          position: coordinates,
          map: map,
          icon: bikeImage,
          draggable: true,
          infowindow: coordinates
        })
        var infowindow = new google.maps.InfoWindow({

          content: event.latLng.lat().toString() + " " + event.latLng.lng().toString()
        });
        infowindow.open(map, marker);

        // EVENT NOT FIRING
      // google.maps.event.addListener('zoom_changed', function(event){
      //   console.log("drag ended!");
      //   infowindow.close()
      // })

      //   coordinates = { marker.getPosition().lat(), marker.getPosition().lng() }
      //
      // var infowindow = new google.maps.InfoWindow({
      //   content: marker.getPosition().lat().toString() + " " + marker.getPosition().lng().toString()
      // });
      // infowindow.open(map, marker);
//       map.addListener('zoom_changed', function() {
//   infowindow.setContent('Zoom: ' + map.getZoom());
// });
// }
      });
    }




        </script>
  <div class="sidebar thin">
    <button type="button" data-toggle="modal" data-target=".report-an-incident">Report an Incident</button>
    <hr>
    <p>Filter Map</p>
    <p>Car</p>
    <p>Bike</p>
    <p>Pedestrian</p>
    <p>Road Hazard</p>
    <hr>
    <p>Hour Scale</p>
    <p>Month Scale</p>
    <hr>
    <p>Stats</p>
    <hr>
    <p>Social Media Icons</p>
    <p>About Us/Contact Us</p>

  </div>
    <%= yield %>
</body>
</html>
