<!DOCTYPE html>
<html>
<head>
  <title>MissedCollisions</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script>
      var geocoder;
      var map;
      var markers = [];
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(49.265, -123.1),
          zoom: 14,
          minZoom: 10,
          maxZoom: 18
        });

        var geocoder = new google.maps.Geocoder();
        var marker = new google.maps.MarkerImage('/assets/transparent.png',
                                          new google.maps.Size(16, 16),
                                          new google.maps.Point(0, 0),
                                          new google.maps.Point(8, 8));

        function getPoints() {
          return $.ajax({
            method: 'GET',
            url: 'http://localhost:3000/incidents/new.json'
          });
        }

        var promise = getPoints();


        promise.success(function(data){
          var dataPoints = [];
          for (var i = 0; i < data.length; i ++) {
            var latitude = parseFloat(data[i].latitude);
            var longitude = parseFloat(data[i].longitude);
            dataPoints.push(new google.maps.LatLng(latitude, longitude));
            var invisibleMarker = new google.maps.Marker({
                          position: {lat: latitude, lng: longitude},
                          map: map,
                          icon: marker
            })
            var time = data[i].reported_at.split("T");
            var formattedTime = time[1].split(":");
            var contentString = "<div id='heading'><p><strong>" + data[i].you +
                                "</strong> vs <strong>" + data[i].them +
                                "</strong></p></div><div id='inner'><p>" +
                                data[i].incident_type + "</p><p>" +
                                data[i].reported_on + " " +
                                formattedTime[0] + ":" + formattedTime[1] +
                                "</p></div>"
            attachInfowindow(invisibleMarker, contentString);
          }

          function attachInfowindow(marker, contentString) {
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            })
            marker.addListener('mouseover', function(){
              infowindow.open(marker.get('map'), marker);
            })
            marker.addListener('mouseout', function(){
              infowindow.close(marker.get('map'), marker);
            })
            markers.push(invisibleMarker);
          }
          function heatmap(){
            new google.maps.visualization.HeatmapLayer({
              data: dataPoints,
              map: map
            });
          }
          heatmap();
          function toggleHeatmap() {
            heatmap.setMap(heatmap.getMap() ? null : map);
          };
        });

      }

  </script>
  <link href="https://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- ASYNCHRONOUS LOADING OF GOOGLE MAPS -->
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyA4JPuZMXXvaQcoRbFbQpsUtGij2cHl1wc&callback=initMap">
  </script>

   <!-- MODAL FOR SUBMITTING A REPORT -->
  <div class="modal fade report-an-incident" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <!-- <div class="modal-header" hidden="true"></div> -->
    <div class="modal-dialog modal-lg" >
      <div class="modal-content" id="incident-form" >
        <%= simple_form_for @incident, data: { behavior: "autosave" }, remote: true do |incident| %>
          <div id="incident">
            <div class="col-sm-6 form-group" id="incident-report">
              <div class="form-inline">
                <h1>Submit a Report!</h1>
                <div class="row">
                <div class='input-group date form-group' id='datepicker'>
                  <%= incident.date_field :reported_on, as: :date_picker %>

                </div>
                <div class='input-group time form-group' id='timepicker'>
                  <%= incident.time_field :reported_at, as: :time_picker %>
                </div>
              </div>
              </div>
              <div class="form-inline">
                <%= incident.label :phone_email %>
                <%= incident.text_field :phone_email,
                                        placeholder: "Phone or Email (optional)",
                                        class: "form-control" %>
              </div>
              <div class="form-inline" id="location">
                  <%= incident.label :location %>
                  <%= incident.text_field :location,
                              placeholder: "Street address or cross streets",
                              class: "form-control" %>
                  <%= incident.hidden_field :latitude %>
                  <%= incident.hidden_field :longitude %>
                <button id="pin-on-map">Find on Map</button>
                <p></p>
              </div>
              <div>
                <%= incident.label :license %>
                <%= incident.text_field :license,
                                        placeholder: "License number (optional)",
                                        class: "form-control" %>
              </div>
              <div>
                <%= incident.select :you, Incident::YOU, { prompt: "YOU" } %>
                <%= incident.select :them, Incident::THEM, { prompt: "THEM" } %>
              </div>
              <div>
                <%= incident.label :incident_type %>
                <%= incident.text_field :incident_type,
                                        placeholder: "Eg. ran a red light, aggressive, distracted, ...",
                                        class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div id='map-for-mapping' class="invisible"></div>
              <div id="incident-details">
                <h1>Incident Details</h1>
                <%= incident.text_area :details,  class: "form-control",
                                                  rows: 20,
                                                  placeholder: "optional details" %>
              </div>
              <div id="submit-button">
                <%= incident.submit %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sidebar thin flex">
    <button type="button" data-toggle="modal" data-target=".report-an-incident"
          id="report-an-accident">Report an Incident</button>
    <hr>
    <button id="heading">Filter Map Results</button>
    <div id="car" class="menu">
      <button class="menu" id="you-car" data-value="false"></button>
      <img src="/assets/car.png" class="filter">
      <button class="menu invisible float-right" id="them-car" data-value="false">
      </button>
    </div>
    <div id="bike" class="menu">
      <button class="menu" id="you-bike" data-value="false"></button>
      <img src="/assets/bike.png" class="filter">
      <button class="menu invisible float-right" id="them-bike" data-value="false">
      </button>
    </div>
    <div id="pedestrian" class="menu">
      <button class="menu" id="you-pedestrian" data-value="false"></button>
      <img src="/assets/pedestrian.png" class="filter">
      <button class="menu invisible float-right" id="them-pedestrian" data-value="false">
      </button>
    </div>
    <div id="road_hazard" class="menu">
      <img src="/assets/road-hazard.png" class="filter" id="road-hazard">
      <button class="menu invisible float-right" id="them-road-hazard" data-value="false">
      </button>
    </div>
    <hr>
    <p>Hour Scale</p>
    <p>Month Scale</p>
    <hr>
    <p>Stats</p>
    <hr>
    <p>Social Media Icons</p>
    <p>About Us/Contact Us</p>
  </div>

    <%= yield %>

</body>
</html>
