<!DOCTYPE html>
<html>
<head>
  <title>MissedCollisions</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script>
      var geocoder;
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 49.265, lng: -123.1},
          zoom: 14,
          minZoom: 14,
          maxZoom: 18
        });

        

        var geocoder = new google.maps.Geocoder();
        var coordinates = {};
        var marker;

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });

        function toggleHeatmap() {
          heatmap.setMap(heatmap.getMap() ? null : map);
        }

        function getPoints() {
          return [
            new google.maps.LatLng(49.265, -123.178),
            new google.maps.LatLng(49.264, -123.871),
            new google.maps.LatLng(49.269, -123.5431),
            new google.maps.LatLng(49.223, -123.341),
            new google.maps.LatLng(49.256, -123.1343),
            new google.maps.LatLng(49.256, -123.1),
            new google.maps.LatLng(49.256, -123.11)
          ]
        }
      }

  </script>
  <link href="https://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- ASYNCHRONOUS LOADING OF GOOGLE MAPS -->
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyA4JPuZMXXvaQcoRbFbQpsUtGij2cHl1wc&callback=initMap">
  </script>

   <!-- MODAL FOR SUBMITTING A REPORT -->
  <div class="modal fade report-an-incident" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <!-- <div class="modal-header" hidden="true"></div> -->
    <div class="modal-dialog modal-lg" >
      <div class="modal-content" id="incident-form" >
        <%= simple_form_for @incident, data: { behavior: "autosave" }, remote: true do |incident| %>
          <div id="incident">
            <div class="col-sm-6 form-group" id="incident-report">
              <div class="form-inline">
                <h1>Submit a Report!</h1>
                <div class="row">
                <div class='input-group date form-group' id='datepicker'>
                  <%= incident.date_field :reported_on, as: :date_picker %>

                </div>
                <div class='input-group time form-group' id='timepicker'>
                  <%= incident.time_field :reported_at, as: :time_picker %>
                </div>
              </div>
              </div>
              <div class="form-inline">
                <%= incident.label :phone_email %>
                <%= incident.text_field :phone_email,
                                        placeholder: "Phone or Email (optional)",
                                        class: "form-control" %>
              </div>
              <div class="form-inline" id="location">
                  <%= incident.label :location %>
                  <%= incident.text_field :location,
                              placeholder: "Street address or cross streets",
                              class: "form-control" %>
                  <%= incident.hidden_field :latitude %>
                  <%= incident.hidden_field :longitude %>
                <button id="pin-on-map">Find on Map</button>
                <p></p>
              </div>
              <div>
                <%= incident.label :license %>
                <%= incident.text_field :license,
                                        placeholder: "License number (optional)",
                                        class: "form-control" %>
              </div>
              <div>
                <%= incident.select :you, Incident::YOU, { prompt: "YOU" } %>
                <%= incident.select :them, Incident::THEM, { prompt: "THEM" } %>
              </div>
              <div>
                <%= incident.label :incident_type %>
                <%= incident.text_field :incident_type,
                                        placeholder: "Eg. ran a red light, aggressive, distracted, ...",
                                        class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div id='map-for-mapping' class="invisible"></div>
              <div id="incident-details">
                <h1>Incident Details</h1>
                <%= incident.text_area :details,  class: "form-control",
                                                  rows: 20,
                                                  placeholder: "optional details" %>
              </div>
              <div id="submit-button">
                <%= incident.submit %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sidebar thin">
    <button type="button" data-toggle="modal" data-target=".report-an-incident">Report an Incident</button>
    <hr>
    <p>Filter Map</p>
    <p>Car</p>
    <p>Bike</p>
    <p>Pedestrian</p>
    <p>Road Hazard</p>
    <hr>
    <p>Hour Scale</p>
    <p>Month Scale</p>
    <hr>
    <p>Stats</p>
    <hr>
    <p>Social Media Icons</p>
    <p>About Us/Contact Us</p>
  </div>

    <%= yield %>
</body>
</html>
